UI Basics

[]  The user should see a WordPress Admin Toolbar at the top of the web page when signed in

REQUIRED PLUGINS

[]  The user should be required to install ACF before activating the theme
[]  The user should see a message requiring ACF to be downloaded
[]  The user should be unable to disable the ACF plugin without deactivating the theme

COPMONENTS

    HERO COMPONONET
    []  Whenever a user upload an image as the main image for a page, the HERO COMPONENT should activate automatically
    []  The User should see a custom 'Hero Text' ACF field
    []  If the field is left blank, then the text that appears on the HERO COMPONENT defaults to the page title

    PAGE BANNER COMPONENT
    []  If the user DOES NOT upload a page image, then the PAGE BANNER COMPONENT appear by defaults
    []  The component should have a title that matches the title of the page
    []  If the page has a parent page, the component should have breadcrumbs under the title

    CTA COMPONENT
    []  The user should see a CTA COMPONENT on the bottom of the "ABOUT" and "SERVICES" page
    []  The user should be able to edit all the text of the CTA component, including:
        [] CTA Header
        [] CTA Text
        [] CTA Button
        [] CTA Link
    []  There should be defaults for all the custom CTA fields

