.page-banner {
  background-color: #000;
  position: relative;
  z-index: 0;
  margin: 0;
  height: 16rem;

  .page-banner__content, .page-banner__title {
    color: white;
    text-align: left;
  }

  .page-banner__bg-image {
      opacity: 0.33;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

  .container {
    padding: 2rem 20vw;
  }

  @media (max-width: 530px) {
    .container {
        padding: 1rem 20vw;
    }

    .page-banner__content {
        font-size: 0.75em;
    }
  }
}

.metabox {
    background-color: #faf0ca;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20vw;
    position: absolute;
    top: 22rem;
    transform: translateY(20%);
    z-index: 2;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

    
    .metabox--with-home-link {
        padding: 0;
    }

    .metabox__main {
        padding: 10px 15px 10px 11px;
    }

    p {
        margin: 0;
        font-size: 0.9rem;
        color: #a79038;
    }

    a {
        color: var(--accent2);
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    .metabox__blog-home-link {
        background-color: var(--primary);
        color: #fff;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 3px 0 0 3px;
        font-weight: normal;
    }

    .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: var(--primary);
    }
}


