:root{
  --primary:#123458;
  --primary-light:#bfdcf3;
  --accent2:#d4af37;
  --muted:#f3f5f6;
  --text:#15446b;
  --container:1100px;
  --max-width:1100px;
  --card-radius:12px;
  --gap:24px;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "lola", serif;
  --font-extra-light: 150;
  --font-light: 300;
  --font-medium: 400;
  --font-strong: 500;
  --font-bold: 600;
  --font-heavy: 800;
  --box-shadow: 0 2px 6px rgba(7,54,116,0.04);
}

/* fonts */

h1 h2 h3 h4 h5 h6 button {
  text-align: center;
}

#logo-text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-extra-light);
}


h1 {
  font-weight: var(--font-strong);
  font-size: 3rem;
  font-family: var(--font-sans);
}

h2 {
  font-weight: var(--font-bold);
  font-size: 2.25rem;
  font-family: "lora", serif;
}

h3 {
  font-weight: var(--font-medium);
  font-size: 1.5rem;
}

/* {box-sizing:border-box} */ 
body{
  margin:0;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: var(--font-medium);
  font-size: 1.15em;
  color:var(--text);
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
}

/* buttons */

button{
  margin: 12px;
  padding: .75rem 1rem;
  font-family: var(--font-sans);
  font-size: var(--font-medium);
  background-color: var(--primary);
  color: var(--muted);
  border-radius: 12px;
  border-color: var(--primary);
  transition: .15s;

}

button:hover{
  background-color:var(--accent2);
  border-style:solid;
  border-color: var(--primary);
  color: var(--primary);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: 0 2.5px #666;
  transform: translateY(4px);
}

.container{
  width: 100%;
  padding:4rem 20vw;
  text-align: left;
}

.container--narrow {
  max-width: 960px;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

/* NAVBAR */

header {
  padding: 0;
  margin: 0;
}

.navbar {
  min-height: 95px;
  margin: 0;
  padding: 10px 10vw 0 15vw;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .logo {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--gap);
    margin: 0.8em 0;
    img {
      width: 2.5rem;
    }
    h2 {
      padding: 0;
      margin: 0;
      color: var(--muted);
      font-size: 1.5em;
      text-align: justify;
    }
  }
  ul {
    list-style-type: none;
    float: right;
    margin-top: 1.4rem;
    li {
      float: left;
      transition: 0.15s;
      padding: 0 1.15em;
      a {
        display: block;
        color: var(--muted);
        text-align: center;
        font-weight: var(--font-medium);
        text-decoration: none;
      }
      /* a.icon {display:none} */
    }

    li:hover {
      cursor: pointer;
      a:hover {color: var(--accent2)}
      a:active {
        border-bottom-style: solid;
        border-bottom-color: var(--accent2);
        border-bottom-width: 1px;
        transform: translateY(4px)}
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    float: right;
  }

  #navbar-logo:hover {
    cursor: pointer;
  }
}

/* FOOTER */
.site-footer {
  background-color: var(--primary);
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
  }
  padding: 0 20vw 0 20vw;
  margin: 0;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      text-align: left;
      padding: 0;
      margin: 0;
      a {
        display: block;
        color: var(--muted);
        font-weight: var(--font-medium);
        text-decoration: none;
        font-size: .75em;
      }
    }

    li:hover {
      cursor: pointer;
      a:hover {color: var(--accent2)}
      a:active {
        transform: translateY(4px)}
    }
  }

  .footer-section h4{
    text-align: center;
    padding: 1rem;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: var(--primary-light);
    color: var(--primary-light);
    font-size: .8em;
  }

  .copyright {
    font-size: 0.8em;
    text-align: center;
    color: var(--muted);
    padding-bottom: 1rem;
  }
}

/* HERO */
.hero{
  /* position:relative; */
  min-height:90vh;
  display:flex;
  min-width: 100%;
  align-items:center;
  justify-content:center;
  background-image: url("https://staging.versatelsolutions.com/wp-content/uploads/2021/09/shutterstock_683659603.jpg");
  background-size: cover;
  background-position: 89% 72%;
  color: var(--muted);
  .hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.25);
  }
  .hero-content{
    position:relative;
    max-width:50%;
    background:rgba(255,255,255,0.8);
    color:var(--text);
    padding:2.5rem;
    border-radius:8px;
    text-align:center;
  }
}

.hero-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .cta {
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
  }
}

section .container {
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

/* WHO WE ARE */
.who {
  .who-grid {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: var(--gap);
    align-items: start;
    text-align: left;
  }
  .who-image img {
    width:100%;
    height:auto;
    border-radius:6px
  }
}

.container-button {
  padding: 4rem 20vw 0;
}

/* Features and Services */

.features {
  background-color: var(--primary);
  color: var(--muted);

  .fa {
    font-size: 3em;
    padding-top: .25em;
  }
}

/* Services */
.services{
  margin-bottom: 4rem;
  text-align: center;
}

/* Features (3 columns) */
.features-grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:var(--gap);

  .feature {
    background: transparent;
    padding: 1.25rem;
    text-align: center;
    border-style: solid;
    border-color: var(--primary-light);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    transition: .5s;

    .features-head {
      min-height: 5rem;
      margin-top: 1rem;
    }

    p { 
      color: var(--muted);
      text-align: left;
    }

  }

  .feature:hover {
    border-color: var(--primary);
  }
}


/* Team */
.team .center {
  text-align:center;
  max-width:800px;
  margin:0.75rem auto 2rem
}

.team-grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:var(--gap);
  padding-top: var(--gap);
}

.card {
  background: var(--muted);
  border-radius:12px;
  padding:18px;
  text-align:left;
  box-shadow:0 2px 6px rgba(7,54,116,0.05);
  img {
    width: 100%;
    border-radius: 8px;
  }
  i {
    font-size: 2rem;
    color: var(--accent2);
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  h4 {
    margin: 12px 0 6px;
  }
  transition: 1s;
}

.card:hover {
  box-shadow:0 2px 6px var(--primary);
}
.role{color:#666;font-size:0.85rem;text-transform:uppercase;letter-spacing:0.04em}

/* Testimonials */
.testimonials{
  background:rgba(7,54,116,0.05);
  margin-bottom: 0;
  
  h4 {
    color: #666;
    margin: 0 0 .5rem;
  }
  h2 {
    margin: 0 0 1.25rem;
  }
  .test-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
  }

  blockquote {
    background-color: var(--muted);
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(7,54,116,0.04);

    footer {
      display: flex;
      align-items: center;
      gap: var(--gap);
      margin-top: 1rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      .test-name {
        text-align: left;
      }

      span {
        font-size: 0.75em;
      }
    }
  }
}

/* Page */

.page-banner {
  background-color: var(--primary);

  .page-banner__content {
    position: relative;
    z-index: 2;
    text-align: left;
    color: var(--muted);
  }

  .page-banner__title {
    font-family: var(--font-sans);
  }

  .page-banner__bg-image {
    opacity: 33%;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page-banner__intro {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: var(--muted);
  }

}

/*
.page-banner {
  background-color: #000;
  padding: 80px 0 40px 0;
  position: relative;
}


@media (min-width: 530px) {
  .page-banner {
    padding: 130px 0 60px 0;
  }
}
.page-banner__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 3.6rem;
  margin: 0 0 1rem 0;
  color: var(--muted);
}
*/

.page-banner__intro {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #ededed;
}
@media (min-width: 530px) {
  .page-banner__intro {
    font-size: 1.65rem;
  }
}
.page-banner__intro p {
  margin: 0;
}

.page-links {
  position: relative;
  z-index: 1;
  background-color: #faf0ca;
  margin: 0 0 40px 0;
}
@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }
}
.page-links__title {
  margin: 0;
  text-align: center;
  padding: 20px 0;
  background-color: var(--primary);
  color: var(--muted);
}
.page-links__title a {
  color: var(--muted);
  text-decoration: none;
  background-color: var(--primary);
}
.page-links li {
  border-top: 1px solid var(--accent2);
}
.page-links li:first-child {
  border-top: none;
}
.page-links__active,
.page-links .current_page_item {
  text-align: center;
  background-color: var(--accent2);
  color: #0d3b66;
  font-weight: bold;
}
.page-links li a {
  display: block;
  text-align: center;
  padding: 17px 10px;
  text-decoration: none;
  color: #0d3b66;
  transition: all 0.3s;
}
.page-links li a:hover {
  color: #0a2b4b;
  background-color: #f2e3aa;
}
  

.metabox {
  box-sizing: border-box;
  background-color: #faf0ca;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
}
.metabox--position-up {
  position: absolute;
  /* top: 50; */
  transform: translateY(-200%);
}
.metabox--with-home-link {
  padding: 0;
}
.metabox__main {
  padding: 10px 15px 10px 11px;
}
.metabox p {
  margin: 0;
  font-size: 0.9rem;
  color: #a79038;
}
.metabox a {
  color: #a79038;
  text-decoration: none;
  font-weight: bold;
}
.metabox a:hover {
  text-decoration: underline;
}
.metabox .metabox__blog-home-link {
  background-color: #0d3b66;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px 0 0 3px;
  font-weight: normal;
}
.metabox .metabox__blog-home-link:hover {
  text-decoration: none;
  background-color: #0a2e4f;
}

.generic-content p,
.generic-content li {
  font-size: 1.15rem;
}
.generic-content blockquote,
.generic-content blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}
.generic-content h1,
.generic-content h2,
.generic-content h3,
.generic-content h4,
.generic-content h5,
.generic-content h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.generic-content h1 {
  font-size: 3.6rem;
}
.generic-content h2 {
  font-size: 3.1rem;
}
.generic-content h3 {
  font-size: 2.6rem;
}
.generic-content h4 {
  font-size: 2.1rem;
}
.generic-content h5 {
  font-size: 1.6rem;
}
.generic-content h6 {
  font-size: 1.15rem;
}

/* CTA */
/* .cta {background:var(--primary);color:#fff;padding:3rem 0} */
.cta-inner{text-align:center;max-width:900px;margin:0 auto;padding:1rem}
.cta h2{margin:0 0 0.5rem}


/* Responsive */
@media (max-width:980px){
  .hero {
    h1 {font-size: 2rem}
    .hero-content {
      max-width: 80%;
    }
  }
  .who-grid{grid-template-columns:1fr}
  .features-grid{grid-template-columns:repeat(2,1fr)}
  .team-grid{grid-template-columns:repeat(2,1fr)}
  .test-grid{grid-template-columns:repeat(2,1fr)}
}

@media (max-width:620px){
  .navbar {
    li {display: none;}
    .hamburger {
      display: flex;
      font-size: 1.5rem;
      color: #fff;
      padding-top: 4px;
    }
  }
  .hero {
    h1 {font-size: 1.5rem}
    .hero-content {
      max-width: 90%;
    }
  }
  /* .hero{min-height:55vh} */
  .features-grid{grid-template-columns:1fr}
  .team-grid{grid-template-columns:1fr}
  .test-grid{grid-template-columns:1fr}
  .container{padding:0 16px}
}

@media (min-width: 960px) {
  .full-width-split {
    display: flex;
  }
}
.full-width-split__one {
  flex: 1;
  padding: 1.6rem 16px;
}
@media (min-width: 960px) {
  .full-width-split__one {
    padding: 40px;
  }
}
@media (min-width: 960px) {
  .full-width-split__one .full-width-split__inner {
    float: right;
  }
}
.full-width-split__two {
  flex: 1;
  background-color: #faf0ca;
  padding: 1.6rem 16px;
}
@media (min-width: 960px) {
  .full-width-split__two {
    padding: 40px;
  }
}
@media (min-width: 1350px) {
  .full-width-split__inner {
    width: 610px;
  }
}

@media (min-width: 530px) {
  .generic-content h1 {
    font-size: 6.25rem;
  }
  .generic-content h2 {
    font-size: 5rem;
  }
  .generic-content h3 {
    font-size: 3.125rem;
  }
  .generic-content h4 {
    font-size: 2.4rem;
  }
  .generic-content h5 {
    font-size: 1.9rem;
  }
  .generic-content h6 {
    font-size: 1.15rem;
  }
}